<html>
<head>
<style>
body        {
    font-family:myriad web pro,arial,sans-serif;
    font-size:12px;
}
.pgTi      {
    font-size:16px;
}
</style>
</head>
<body>
	<p class=pgTi><%= LOC "$$$/Templates/Joune/About/Title=jQuery Galleria.io" %> 1.1</p>
	
	<p><%= LOC "$$$/Templates/Joune/About/Description=FREE web photo gallery by <a href='http://www.arjunpanday.fr'>Arjun Panday</a>.  Features include:" %></p>
	<ul>
		<li><%= LOC "$$$/AgWPG/Templates/Joune/About/Description2=Galleria.io jQuery based gallery" %></li>
		<li><%= LOC "$$$/AgWPG/Templates/Joune/About/Description3=Text Labeling" %></li>
		<li><%= LOC "$$$/AgWPG/Templates/Joune/About/Description4=Identity Plate Display" %></li>
		<li><%= LOC "$$$/AgWPG/Templates/Joune/About/Description5=Layout and Color Controls" %></li>
	</ul>
</body>
</html>
